<div class="banner">
  <div class="container lh30">
    {% if page.categories != null %}
        <a href="{{ '/categories/' | prepend: site.baseurl }}#{{ page.categories }}-ref">{{page.categories}}</a>    /
        <a href="{{ '/tag/' | prepend: site.baseurl }}#{{ page.tags }}-ref">{{page.tags}}</a>
    {% else %}
        {{ site.banner }}
    {% endif %}
      <div id="search-container" class="pull-right">
          <input type="text" id="search-input" placeholder=" 搜索...">
          <label class="searchIcon glyphicon glyphicon-search" for="search-input"></label>
          <ul id="results-container"></ul>
      </div>
  </div>
</div>
