<!--
 ======================
 Hikma Header Start
 ======================
 -->
<header class="site-header sticky-header">
    <nav class="navbar">
        <div class="container-fluid hikma-container">
            <a href="/" class="navbar-brand"><img src="{{'/assets/images/logo/logo.png'|preppend: site.baseurl}}" alt=""></a>
            <div class="ml-auto d-flex ">
                <a href="/blog-full.html" class="btn btn-primary text-uppercase btn-sm d-none d-md-block">Blog full list</a>
                <div class="mobile-menu">
                    <div class="menu-click">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
