//define variables
$brand-color: #2674BA;

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }

    &:hover {
        //color: $brand-color; //buttons will override this
        color: #000b43;
        text-decoration: none;
    }
}

/**
 * Post-contents
 */
.post-contents {
    background-color: white;
    padding: 15px;
    border: 1px solid #d9d9d9;
    overflow: auto;
}

.about-me {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.about-me img {
    margin: 20px 0;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.button {
    text-align:center;
    text-decoration:none;
    background-color: white; //every button is white when is unclicked
    &:hover {
      text-decoration:none;
    }
}

.readmore-button {
    width: 100px;
    font-size: 12px;
    color: $brand-color;
    border: 2px solid $brand-color;
    padding: 4px;
    border-radius: 5px;
    &:hover {
	background-color: $brand-color;
	color: white !important;
        transition: 0.8s;
    }
}

.header-nav {
    text-align:center;
    display: inline-block;
    float: none;
    margin: 0;
}

.nav-button{
    padding: 10px;
    font-size: 18px; //nav button is 18px
    border: 5px solid white;
    &:hover {
	background-color: white !important;
	color: $brand-color !important;
	border-bottom: 5px solid $brand-color;
	transition: 0.8s;
    }
    &:visited {
    	background-color: white !important;
    }
}

.social-network-list {
    margin-left: 0;
    display: inline-block;
}

.social-network {
    height: 40px;
    width: 60px;;
    text-align:center;
    &:hover {
         opacity: 0.75;
         transition: opacity 0.8s;
    }
}
.progress-bar-skill {
    background-color: $brand-color;
}

.divider {
    border: 0.5px solid #bfbfbf;
}
/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid #55aa22;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    /*font-style: italic;*/

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

//img center 20171030
.center {
  text-align: center;
  margin: 0 auto;
}
